/*ADD BOOTSTRAP CSS*/
@import url('bootstrap');


/*--------GENERICS--------*/
* {
    font-family: 'Open Sans Variable', sans-serif;
}

body {
    background-color: rgb(240, 231, 231);
}

main {
    background-color: #1c1c1c;
}

img {
    max-width: 100%;
}

/*--------UTILITY--------*/

/*--------HEADER--------*/

/*Navbar*/
a.navbar-brand>img {
    width: 70px;
}

ul.navbar-nav>li {
    font-size: 12px;
    font-weight: bold;
    
    
}

/*Jumbotron*/

.jumbotron {
    background-image: url(./assets/img/jumbotron.jpg);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*--------ASIDE--------*/
aside {
    background-color: #0282f9;
    
}

/*Aside list*/
ul.nav span {
    width: 40px;
    margin-right: 10px;
    display: inline-block;

}

ul.nav a {
    color: white;
}






/*--------MAIN--------*/


/*Cards*/



   

/*--------FOOTER--------*/

footer {
    background-image: url(/src/assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Footer list*/
footer span {
    color: white;
    font-weight: bold;
    font-size: larger;

}

footer ul > li {
    list-style: none;
    color: gray;
    font-size: small;
}

/*Footer contacts*/
.footer-contacts {
    background-color: #303030;
    
    


}

footer div.col-6 {
    background-image: url(./assets/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer button {
    background-color: transparent;
    color: white;
    font-size: medium ;
    font-weight:lighter;
    padding: 0.5rem;
    border: 2px solid #0282f9 ;
}
footer button:hover {
    background-color: #0282f9;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
